@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext");

body {
	font-family: "Source Sans Pro", sans-serif;
}
.modal-background {
	display: none !important;
}
.d-lg-none {
	display: none !important;
}
